{% macro cnvear(sample_or_pair, input_seg, input_tool, aligner='bwa') %}

{% if input_seg.endswith('.seg') %}
  {% set seg_prefix = input_seg.split('.')[:-1]|join('.') %}
{% else %}
  {{ raise('{} does not appear to be a seg!'.format(input_seg)) }}
{% endif %}

{% set output_dir %}{{ input_seg | dirname }}{% endset %}
{% set cnvear_output %}{{ seg_prefix | basename }}.cnvear.tsv{% endset %}
{% set cnvear_probes %}{{ seg_prefix | basename }}.cnvear.probes.bed{% endset %}
{% if sex is defined and sex in ['Female','female','Male','male'] %}
{% set config_sex %}{{ sex }}{% endset %}
{% else %}
{% set config_sex %}Female{% endset %}
{% endif %}

- name: cnvear_{{ input_tool | lower }}_{{ sample_or_pair.name }}_{{ aligner }}
  tags: [{{ sample_or_pair.gltype }}, cnvear, {{ sample_or_pair.name }}]
  input:
    - {{ input_seg }}
    {% if studyDisease == "Multiple Myeloma" | default(false) %}
    - {{ constants.tempe.fish_probe_locations }}
    {% else %}
    - {{ constants.tempe.cnvear_locations }}
    {% endif %}
  output:
    - {{ output_dir }}/{{ cnvear_output }}
    - {{ output_dir }}/{{ cnvear_probes }}
  cpus: 1
  mem: 16G
  walltime: "24:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.cnvear.container }}
  digest: {{ constants.tools.cnvear.digest }}
  cmd: |

    {# The input seg might not overlap every probe region, particularly when using the cnvear_locations file #}
    {# We create an intersected bed that includes regions specifically from the probe region file. We keep #}
    {# original probe locations, but exclude regions that fall entirely outside of the input seg windows #}
    {% if studyDisease == "Multiple Myeloma" | default(false) %}
    tail -n+2 {{ input_seg }} | cut -f2-4 | \
    bedtools intersect -a {{ constants.tempe.fish_probe_locations }} -b stdin -wa | \
    sort -k1,1V -k2,2n -k3,3n -u > {{ output_dir }}/{{ cnvear_probes }}
    {% else %}
    tail -n+2 {{ input_seg }} | cut -f2-4 | \
    bedtools intersect -a {{ constants.tempe.cnvear_locations }} -b stdin -wa | \
    sort -k1,1V -k2,2n -k3,3n -u > {{ output_dir }}/{{ cnvear_probes }}
    {% endif %}
    
    cnvear.py \
      --file-probes {{ output_dir }}/{{ cnvear_probes }} \
      --file-segments {{ input_seg }} \
      --input-copy-number-space 'LOG2' \
      --output-copy-number-space 'LOG2' \
      --threshold_high_gain_call 1.32 \
      --threshold_gain_call 0.16 \
      --threshold_heterozygous_loss_call -0.16 \
      --threshold_homozygous_loss_call -1.32 \
      --seg-tool {{ input_tool }} \
      --samplename {{ sample_or_pair.name }} \
      --dir-out {{ output_dir }} \
      --outfilename {{ cnvear_output }} \
      --gender {{ config_sex }}

{% endmacro %}