{% macro copy_fastq(fastq) %}

- name: copy_fastqs_{{ fastq.basename | replace(".", "_") }}
  input: {{ fastq.fastqPath }}
  output: temp/fastqs/{{ fastq.basename }}
  retry: 2
  cpus: 6
  walltime: "4:00:00"
  queue_preset: "DATA-MOVER"
  {% if fastq.fileType == "fasterq" %}
  runner_preset: "PETAGENE"
  {% endif %}
  container: {{ constants.tools.base.container }}
  digest: {{ constants.tools.base.digest }}
  cmd: |
    set -uev

    mkdir -p temp/fastqs/

    {% if fastq.fileType == "fasterq" %}
    rsync "{{ fastq.fastqPath|replace(".fastq.gz",".fasterq") }}" "temp/fastqs/"
    {% else %}
    rsync "{{ fastq.fastqPath }}" "temp/fastqs/"
    {% endif %}

{% endmacro %}
