{% from 'modules/qc/stats2json.j2' import stats2json with context %}

{% macro trim_reads(sample, rg, rgid) %}

{% set r1fastq = rg.data_files|selectattr('fastqCode', 'eq', 'R1')|first %}
{% set r2fastq = rg.data_files|selectattr('fastqCode', 'eq', 'R2')|first %}

{% set r1fastq_basename = r1fastq.basename %}
{% set r2fastq_basename = r2fastq.basename %}
{% set r1fastq_trimmed %}{{ r1fastq.basename | replace('fastq.gz', 'trimmed.fastq.gz') }}{% endset %}
{% set r2fastq_trimmed %}{{ r2fastq.basename | replace('fastq.gz', 'trimmed.fastq.gz') }}{% endset %}

{% set results_dir %}{{ sample.gltype }}/metrics/fastp/{{ sample.name }}{% endset %}
{% set results_html %}{{ results_dir }}/{{ rgid }}_fastp_report.html{% endset %}
{% set results_json %}{{ results_dir }}/{{ rgid }}_fastp_report.json{% endset %}
{% set minimal_json %}{{ results_dir }}/{{ rgid }}_fastp_report_minimal.json{% endset %}
{% set task %}{{ sample.name }}_{{ rgid }}{% endset %}

{% do r1fastq.update({'basename': r1fastq_trimmed }) %}
{% do r2fastq.update({'basename': r2fastq_trimmed }) %}

{# argument builder #}
{% set fastp_args = [] %}
{% for k, v in task_variables.read_trimming[sample.gltype|lower].items() %}
  {% if v is true %}
    {% set arg_string %}{{ k }}{% endset %}
  {% else %}
    {% set arg_string %}{{ k }} {{ v }}{% endset %}
  {% endif %}
  {% do fastp_args.append(arg_string) %}
{% endfor %}

- name: preprocessing_{{ sample.name }}_{{ rgid }}_read_trimming
  input:
    - temp/fastqs/{{ r1fastq_basename }}
    - temp/fastqs/{{ r2fastq_basename }}
  output:
    - temp/fastqs/{{ r1fastq_trimmed }}
    - temp/fastqs/{{ r2fastq_trimmed }}
    - {{ results_html }}
    - {{ results_json }}
  cpus: 8
  mem: 8G
  container: {{ constants.tools.fastp.container }}
  cmd: |
    set -eu

    mkdir -p {{ results_dir }}

    fastp \
      --thread 8 \
      --in1 temp/fastqs/{{ r1fastq_basename }} \
      --in2 temp/fastqs/{{ r2fastq_basename }} \
      --out1 temp/fastqs/{{ r1fastq_trimmed }} \
      --out2 temp/fastqs/{{ r2fastq_trimmed }} \
      --html {{ results_html }} \
      --json {{ results_json }} \
      --report_title "{{ rgid }} Trimming" \
      {% if task_variables.read_trimming[sample.gltype|lower].custom_arguments is not defined %}
      --dont_eval_duplication \
      {% for arg in fastp_args %}
      {% if not loop.last %}
      --{{ arg }} \
      {% else %}
      --{{ arg }}
      {% endif %}
      {% endfor %}
      {% else %}
      {{ task_variables.read_trimming[sample.gltype|lower].custom_arguments }}
      {% endif %}


{{- stats2json(sample.gltype, sample.name, task, results_json, minimal_json, "fastp", sample_name=sample.name, library_name=rg.rglb, read_group_name=rgid) }}

{% endmacro %}
