{% macro vcf_stats(input_vcf, results_dir) %}

- name: bcftools_stats_{{ input_vcf | basename | replace(".", "_") }}
  tags: [bcftools, stats, vcf]
  input: {{ input_vcf }}
  output: {{ results_dir }}/stats/{{ input_vcf | basename }}.stats.txt
  cpus: 1
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.bcftools.container }}
  digest: {{ constants.tools.bcftools.digest }}
  cmd: |
    set -eu
    set -o pipefail

    mkdir -p {{ results_dir }}/stats

    bcftools stats \
      {{ input_vcf }} \
      > {{ results_dir }}/stats/{{ input_vcf | basename }}.stats.txt

{% endmacro %}
