{%- from 'modules/metrics/mutation_burden.j2' import mutation_burden with context %}
{%- from 'modules/metrics/msisensor_pro.j2' import msisensor_pro with context %}
{%- from 'modules/metrics/sigprofiler.j2' import sigprofiler with context %}
{%- from 'modules/metrics/tucon.j2' import tucon with context %}

{%- macro collect_somatic_metrics(pair, normal_bam, tumor_bam, results_dir, taskPrefix, aligner, variant_caller) %}

{% if variant_caller == 'merged' %}
  {%- set vcf_prefix %}{{ results_dir }}/{{ pair.name }}.{{ aligner }}.{{ variant_caller }}{% endset %}
{% else %}
  {%- set vcf_prefix %}{{ results_dir }}/{{ pair.name }}.{{ aligner }}.{{ variant_caller }}.pass{% endset %}
{% endif %}

{%- set annotate_task_prefix = taskPrefix+'_somatic_annotate_vcfs_bcftools_' %}
{%- set flags = namespace({ 'bcftools': none, 'vep': none }) %}

{%- if tasks %}
  {% for annotate_task in tasks %}
    {% if annotate_task_prefix in annotate_task and tasks[annotate_task] %}
      {% set flags.bcftools = true %}
    {% elif annotate_task_prefix in annotate_task and tasks[annotate_task] is sameas false %}
      {% if flags.bcftools is not sameas true %}
        {% set flags.bcftools = false %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if flags.bcftools is none %}
    {% set flags.bcftools = true %}
  {% endif %}

  {% if tasks[taskPrefix+"_somatic_annotate_vcfs_vep"]|default(false) %}
    {% set flags.vep = true %}
  {% endif %}
{% else %}
  {% set flags.bcftools = true %}
  {% set flags.vep = true %}
{% endif %}

{% if flags.bcftools %}
  {% set final_vcf_prefix %}{{ vcf_prefix }}.db{% endset %}
{% else %}
  {% set final_vcf_prefix %}{{ vcf_prefix }}{% endset %}
{% endif %}
{% if flags.vep %}
  {% if tasks[taskPrefix+"_somatic_sample_metric_tgen_mutation_burden"]|default(false) %}
    {# If pair.normal.pathToBam is defined then we have a tumor_only pair #}
    {% if pair.normal.pathToBam is defined %}
      {% set final_vcf %}{{ final_vcf_prefix }}.vep.pick.flt.vcf.gz{% endset %}
    {% else %}
      {% set final_vcf %}{{ final_vcf_prefix }}.vep.pick.vcf.gz{% endset %}
    {% endif %}
    {{- mutation_burden(pair, normal_bam, tumor_bam, final_vcf, variant_caller, aligner, 'vep') }}
  {% endif %}
  {% if tasks[taskPrefix+"_somatic_sample_metric_sigprofiler"]|default(false) and pair.normal.pathToBam is defined %}
    {% set tumor_only_vcf_prefix %}{{ final_vcf_prefix }}.vep.pick.flt{% endset %}
    {{- sigprofiler(pair, tumor_only_vcf_prefix, variant_caller, aligner) }}
  {% endif %}
  {% if tasks[taskPrefix+"_somatic_sample_metric_tucon"]|default(false) %}
    {% if tasks[taskPrefix+"_somatic_annotate_vcfs_bcftools_topmed"]|default(false) %}
    {% set final_vcf %}{{ final_vcf_prefix }}.vep.full.vcf.gz{% endset %}
    {{- tucon(pair, final_vcf, 'vep', variant_caller, aligner) }}
    {% endif %}
  {% endif %}
{% endif %}

{% if tasks[taskPrefix+"_somatic_sample_metric_msisensor_pro"]|default(false) %}
  {{- msisensor_pro(pair, normal_bam, tumor_bam, aligner) }}
{% endif %}

{% if pair.normal.pathToBam is not defined %}
  {% if tasks[taskPrefix+"_somatic_sample_metric_sigprofiler"]|default(false) %}
    {{- sigprofiler(pair, vcf_prefix, variant_caller, aligner) }}
  {% endif %}
{% endif %}

{% endmacro %}
