{% from 'modules/qc/stats2json.jst' import stats2json with context %}

{% macro mutation_burden(pair, normal_bam, tumor_bam, input_vcf, variant_caller, aligner, annotate_flag) %}

{% set temp_dir %}temp/{{ pair.gltype }}/metrics/mutation_burden/{{ pair.name }}_{{ aligner }}{% endset %}
{% set results_dir %}{{ pair.gltype }}/metrics/mutation_burden/{{ pair.name }}_{{ aligner }}{% endset %}
{% set mutation_burden_temp %}{{ temp_dir }}/mutation_burden_{{ annotate_flag }}{% endset %}
{% set mutation_burden_output %}{{ results_dir }}/{{ pair.name }}.{{ annotate_flag }}.mutation_burden.txt{% endset %}
{% set mutation_burden_json %}{{ results_dir }}/{{ pair.name }}.{{ annotate_flag }}.mutation_burden.json{% endset %}

{% if pair.callers is defined and pair.callers|length > 1 %}
  {% if pair.callers | length > 3 %}
    {% set CC_filter %}INFO/CC>={{ pair.callers | length - 2 }}{% endset %}
  {% else %}
    {% set CC_filter %}INFO/CC>={{ pair.callers | length - 1 }}{% endset %}
  {% endif %}
{% endif %}

{% set canonical_cds_intervals %}{{ constants.tempe.vep_canonical_cds_intervals }}{% endset %}

- name: tgen_mutation_burden_{{ variant_caller }}_{{ pair.name }}_{{ aligner }}_{{ annotate_flag }}
  tags: [{{ pair.gltype }}, metrics, mutation_burden, {{ pair.name }} ]
  input:
    - {{ input_vcf }}
    - {{ normal_bam }}
    - {{ tumor_bam }}
    - {{ canonical_cds_intervals }}
    {% if pair.gltype == 'exome' %}
    - {{ pair.tumor.capture_kit.extended_bed }}
    {% endif %}
  output:
    - {{ mutation_burden_output }}
  walltime: "24:00:00"
  cpus: 4
  mem: 8G
  queue_preset: "DEFAULT"
  container: {{ constants.tools.mutation_burden.container }}
  digest: {{ constants.tools.mutation_burden.digest }}
  cmd: |
    set -eu
    set -o pipefail

    rm -r {{ mutation_burden_temp }} || true
    mkdir -p {{ mutation_burden_temp }}
    mkdir -p {{ results_dir }}

    PROJECT_ROOT=$PWD

    {% set ns_list = [] %}
    {% for effect in constants.tempe.ns_effects %}
      {% set ns_effect %}INFO/CSQ ~ "{{ effect }}"{% endset %}
      {% do ns_list.append(ns_effect) %}
    {% endfor %}

    bcftools filter \
      --include '{{ CC_filter }} && ({{ ns_list|join(' || ') }})' \
      --output {{ mutation_burden_temp }}/{{ input_vcf | basename }} \
      --output-type z \
      {{ input_vcf }}

    bcftools index --tbi {{ mutation_burden_temp }}/{{ input_vcf | basename }}

    {% if pair.gltype == 'exome' %}
    bedtools intersect \
      -a {{ canonical_cds_intervals }} \
      -b {{ pair.tumor.capture_kit.extended_bed }} \
      > {{ mutation_burden_temp }}/{{ pair.name }}_isec_cds_capture_kit.bed
    {% endif %}

    cd {{ mutation_burden_temp }}

    tgen_mutation_burden.sh \
      --mindepth 10 \
      --min-read-per-strand 1 \
      --min-base-qual 5 \
      --min-map-qual 5 \
      {% if pair.gltype == 'exome' %}
      --bed {{ pair.name }}_isec_cds_capture_kit.bed \
      {% else %}
      --bed {{ canonical_cds_intervals }} \
      {% endif %}
      --vcf {{ input_vcf | basename }} \
      --tbam ${PROJECT_ROOT}/{{ tumor_bam }} \
      --nbam ${PROJECT_ROOT}/{{ normal_bam }} \
      --sample {{ pair.tumor.rgsm }} \
      --library {{ pair.tumor.rglb }} \
      --outfile ${PROJECT_ROOT}/{{ mutation_burden_output }} \
      --pipeline \
      --verbose

    {% set task %}{{ pair.name }}_{{ aligner }}_{{ annotate_flag }}{% endset %}
    {% if pair.tumor.aligners | length > 1 and aligner != 'bwa' %}
    {{- stats2json(pair.gltype, pair.name, task, mutation_burden_output, mutation_burden_json, "tgen_mutation_burden", lims_upload=false) }}
    {% else %}
    {{- stats2json(pair.gltype, pair.name, task, mutation_burden_output, mutation_burden_json, "tgen_mutation_burden") }}
    {% endif %}

{% endmacro %}
