{% from 'utilities/variant_filtering.j2' import filter_variants with context %}

{% macro sigprofiler(pair, vcf_prefix, variant_caller, aligner) %}

{% set temp_dir %}temp/{{ pair.gltype }}/metrics/sigprofiler/{{ pair.name }}_{{ aligner }}{% endset %}
{% set temp_vcf_dir %}{{ temp_dir }}/vcfs{% endset %}
{% set results_dir %}{{ pair.gltype }}/metrics/sigprofiler/{{ pair.name }}_{{ aligner }}{% endset %}
{% set all_vcf %}{{ vcf_prefix }}.vcf.gz{% endset %}
{% set filt_vcf %}{{ temp_vcf_dir }}/{{ vcf_prefix|basename }}.pass.vcf{% endset %}

{% set task %}sigprofiler_{{ variant_caller }}_{{ pair.name }}_{{ aligner }}{% endset %}
{{- filter_variants(pair, all_vcf, temp_vcf_dir, filt_vcf, task, variant_caller) }}

- name: sigprofiler_{{ variant_caller }}_{{ pair.name }}_{{ aligner }}
  tags: [{{ pair.gltype }}, somatic, mutational_signatures, sigprofiler, {{ pair.name }}]
  input:
    - {{ filt_vcf }}
    - {{ constants.tempe.sigprofiler_ref_dir }}
    - {{ constants.tempe.sigprofiler_sbs }}
    - {{ constants.tempe.sigprofiler_dbs }}
  output:
    - {{ results_dir }}/SBS/Assignment_Solution/Activities/Assignment_Solution_Activities.txt
    - {{ results_dir }}/SBS/Assignment_Solution/Activities/Assignment_Solution_Activity_Plots.pdf
    - {{ results_dir }}/SBS/Assignment_Solution/Activities/Assignment_Solution_TMB_plot.pdf
    - {{ results_dir }}/SBS/Assignment_Solution/Activities/Decomposed_MutationType_Probabilities.txt
    - {{ results_dir }}/SBS/Assignment_Solution/Signatures/Assignment_Solution_Signatures.txt
    - {{ results_dir }}/SBS/Assignment_Solution/Signatures/SBS_96_plots_Assignment_Solution.pdf
    - {{ results_dir }}/SBS/Assignment_Solution/Solution_Stats/Assignment_Solution_Samples_Stats.txt
    - {{ results_dir }}/SBS/Assignment_Solution/Solution_Stats/Assignment_Solution_Signature_Assignment_log.txt
    - {{ results_dir }}/DBS/Assignment_Solution/Activities/Assignment_Solution_Activities.txt
    - {{ results_dir }}/DBS/Assignment_Solution/Activities/Assignment_Solution_Activity_Plots.pdf
    - {{ results_dir }}/DBS/Assignment_Solution/Activities/Assignment_Solution_TMB_plot.pdf
    - {{ results_dir }}/DBS/Assignment_Solution/Activities/Decomposed_MutationType_Probabilities.txt
    - {{ results_dir }}/DBS/Assignment_Solution/Signatures/Assignment_Solution_Signatures.txt
    - {{ results_dir }}/DBS/Assignment_Solution/Signatures/DBS_78_plots_Assignment_Solution.pdf
    - {{ results_dir }}/DBS/Assignment_Solution/Solution_Stats/Assignment_Solution_Samples_Stats.txt
    - {{ results_dir }}/DBS/Assignment_Solution/Solution_Stats/Assignment_Solution_Signature_Assignment_log.txt
  cpus: 2
  mem: 4G
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.sigprofiler.container }}
  digest: {{ constants.tools.sigprofiler.digest }}
  cmd: |
    set -eu
    set -o pipefail

    rm -r {{ temp_vcf_dir }} || true
    mkdir -p {{ temp_vcf_dir }}
    mkdir -p {{ results_dir }}/{SBS,DBS}

    export SIGPROFILERMATRIXGENERATOR_VOLUME="{{ constants.tempe.sigprofiler_ref_dir }}"
    export SIGPROFILERASSIGNMENT_VOLUME="{{ temp_dir }}"

    SigProfilerAssignment cosmic_fit \
      {{ temp_vcf_dir }} \
      {{ results_dir }}/SBS \
      --signatures {{ constants.tempe.sigprofiler_sbs }} \
      --genome_build GRCh38 \
      --cosmic_version 3.4 \
      --input_type vcf \
      --context_type "96" \
      {% if pair.gltype == 'exome' %}
      --exome True \
      {% endif %}
      --sample_reconstruction_plots png

    SigProfilerAssignment cosmic_fit \
      {{ temp_vcf_dir }} \
      {{ results_dir }}/DBS \
      --signatures {{ constants.tempe.sigprofiler_dbs }} \
      --genome_build GRCh38 \
      --cosmic_version 3.4 \
      --input_type vcf \
      --collapse_to_SBS96 False \
      --context_type "DINUC" \
      {% if pair.gltype == 'exome' %}
      --exome True \
      {% endif %}
      --sample_reconstruction_plots png

{% endmacro %}
