{% from 'utilities/variant_filtering.jst' import filter_variants with context %}

{% macro sigprofiler(pair, vcf_prefix, variant_caller, aligner) %}

{% set temp_dir %}temp/{{ pair.gltype }}/metrics/sigprofiler/{{ pair.name }}_{{ aligner }}{% endset %}
{% set temp_vcf_dir %}{{ temp_dir }}/vcfs{% endset %}
{% set results_dir %}{{ pair.gltype }}/metrics/sigprofiler/{{ pair.name }}_{{ aligner }}{% endset %}
{% set all_vcf %}{{ vcf_prefix }}.vcf.gz{% endset %}
{% set filt_vcf %}{{ temp_vcf_dir }}/{{ vcf_prefix|basename }}.pass.vcf{% endset %}

{% set task %}sigprofiler_{{ variant_caller }}_{{ pair.name }}_{{ aligner }}{% endset %}
{{- filter_variants(pair, all_vcf, temp_vcf_dir, filt_vcf, task) }}

- name: sigprofiler_{{ variant_caller }}_{{ pair.name }}_{{ aligner }}
  tags: [{{ pair.gltype }}, somatic, mutational_signatures, sigprofiler, {{ pair.name }}]
  input:
    - {{ filt_vcf }}
  output:
    - {{ results_dir }}/SBS/Assignment_Solution/Activities/Assignment_Solution_Activities.txt
    - {{ results_dir }}/SBS/Assignment_Solution/Activities/Assignment_Solution_Activity_Plots.pdf
    - {{ results_dir }}/SBS/Assignment_Solution/Activities/Assignment_Solution_TMB_plot.pdf
    - {{ results_dir }}/SBS/Assignment_Solution/Activities/Decomposed_MutationType_Probabilities.txt
    - {{ results_dir }}/SBS/Assignment_Solution/Signatures/Assignment_Solution_Signatures.txt
    - {{ results_dir }}/SBS/Assignment_Solution/Signatures/SBS_96_plots_Assignment_Solution.pdf
    - {{ results_dir }}/SBS/Assignment_Solution/Solution_Stats/Assignment_Solution_Samples_Stats.txt
    - {{ results_dir }}/SBS/Assignment_Solution/Solution_Stats/Assignment_Solution_Signature_Assignment_log.txt
    - {{ results_dir }}/DBS/Assignment_SolutionActivities/Assignment_Solution_Activities.txt
    - {{ results_dir }}/DBS/Assignment_SolutionActivities/Assignment_Solution_Activity_Plots.pdf
    - {{ results_dir }}/DBS/Assignment_SolutionActivities/Assignment_Solution_TMB_plot.pdf
    - {{ results_dir }}/DBS/Assignment_SolutionActivities/Decomposed_MutationType_Probabilities.txt
    - {{ results_dir }}/DBS/Assignment_SolutionSignatures/Assignment_Solution_Signatures.txt
    - {{ results_dir }}/DBS/Assignment_SolutionSignatures/DBS_78_plots_Assignment_Solution.pdf
    - {{ results_dir }}/DBS/Assignment_SolutionSolution_Stats/Assignment_Solution_Samples_Stats.txt
    - {{ results_dir }}/DBS/Assignment_SolutionSolution_Stats/Assignment_Solution_Signature_Assignment_log.txt
  cpus: 4
  mem: 8G
  walltime: "24:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.sigprofiler.container }}
  digest: {{ constants.tools.sigprofiler.digest }}
  cmd: |
    set -eu
    set -o pipefail

    {# Remove previously generated matrix #}
    rm -r {{ temp_dir }}/vcfs/*/ || true

    {# Should already exist #}
    mkdir -p {{ temp_dir }}/vcfs
    mkdir -p {{ results_dir }}

    sigprofiler_assignment.py \
      --vcfpath {{ temp_dir }}/vcfs \
      --output {{ results_dir }} \
      {% if pair.gltype == 'exome' %}
      --exome \
      {% endif %}
      --project {{ pair.name }}

{% endmacro %}
