
# This alignment command prefix is shared by all modules using bwa
{% from 'utilities/read_group_line.jst' import read_group_line with context %}
{% from 'utilities/remove_files.jst' import remove_files with context %}
{% from 'modules/dna_alignment/gatk_baserecalibration.jst' import baserecalibration, nobaserecalibration with context %}
{% from 'utilities/bam_to_cram.jst' import bam_to_cram with context %}
{% from 'utilities/read_group_line.jst' import read_group_line %}
{% from 'modules/qc/main.jst' import bam_qc with context %}

# This macro splits large fastqs into chunks prior to aligning.
# If fastq is less than reads_per_chunk (48000000) then one chunk is made.
{% macro bwa_mem2_samtools(sample, reads_per_chunk, opt_dup_distance, aligner, nomultidup=false, nosupdup=false) %}

{% set temp_dir %}temp/{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}{% endset %}
{% set results_dir %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}{% endset %}

{% for rgid, rg in sample.read_groups.items() %}
{% set r1fastq = rg.data_files|selectattr('fastqCode', 'eq', 'R1')|first %}
{% set r2fastq = rg.data_files|selectattr('fastqCode', 'eq', 'R2')|first %}

{# Comment about the math, using the assumed legacy illumina interpretation, it is a TGen modification #}
{% set n_lines = (reads_per_chunk * 4)|int %}
{% set n_chunks = (r1fastq.numberOfReads / 2 / reads_per_chunk)|round(0, method='ceil')|int %}
{% if n_chunks > 99 %}{{ raise('ValueError', 'Too many chunks!') }}{% endif %}

{% for i in range(n_chunks) %}
{% set chunk_suffix = '%02d' % i %}
- name: chunked_bwa_mem_samtools_fixmate_{{ sample.name }}_{{ aligner }}_{{ rgid }}_{{ chunk_suffix }}
  tags: [{{ sample.gltype }}, alignment, dna_alignment, bwa, {{ sample.name }}]
  reset: predecessors
  input:
    - temp/fastqs/{{ sample.name }}/{{ rgid }}/{{ r1fastq.basename }}/{{ chunk_suffix }}
    - temp/fastqs/{{ sample.name }}/{{ rgid }}/{{ r2fastq.basename }}/{{ chunk_suffix }}
  output: {{ temp_dir }}/{{ rgid }}/{{ chunk_suffix }}.{{ aligner }}.bam
  walltime: "24:00:00"
  cpus: 20
  mem: 80G
  container: {{ constants.tools.bwa_mem2_samtools.container }}
  cmd: |
    set -eu
    set -o pipefail

    {#
    # If this task was interrupted previously, temp files may exist
    # that will cause errors with samtools sort. Here, we purge any
    # existing temp files before making the directory again.
    #}
    rm -r "{{ temp_dir }}/{{ rgid }}/{{ chunk_suffix }}_st_sort_temp/" || true
    mkdir -p "{{ temp_dir }}/{{ rgid }}/{{ chunk_suffix }}_st_sort_temp/"

    {# No long options available for the following:
     bwa mem
        -v INT       Verbosity: 3 = message (default = 3)
        -Y           Use soft clipping for supplementary alignments
        -K INT       Process INT input bases in each batch regardless of nThreads (for reproducibility)
        -t INT       Number of threads to use
        -R STR       Read group header line such as '@RG\tID:foo\tSM:bar' [null]

     samtools fixmate
        -m           Add mate score tag, REQUIRED for samtools markdup
        -            Input from stdin
        -            Output to stdout

     samtools sort
        -l INT       Set compression level, from 0 (uncompressed) to 9 (best)
        -m INT       Set maximum memory per thread; suffix K/M/G recognized [768M]
        -T PREFIX    Write temporary files to PREFIX.nnnn.bam
        -            Input from stdin
        -o FILE      Write final output to FILE rather than standard output
    #}
    bwa-mem2 mem \
      -v 3 \
      -Y \
      -K 100000000 \
      -t 19 \
      -R "{{ read_group_line(rg, format='bwa') }}" \
      "{{ constants.tempe.bwa_mem2_index }}" \
      "temp/fastqs/{{ sample.name }}/{{ rgid }}/{{ r1fastq.basename }}/{{ chunk_suffix }}" \
      "temp/fastqs/{{ sample.name }}/{{ rgid }}/{{ r2fastq.basename }}/{{ chunk_suffix }}" |\
    samtools fixmate \
      --threads 19 \
      -m \
      - \
      - |\
    samtools sort \
      -T "{{ temp_dir }}/{{ rgid }}/{{ chunk_suffix }}_st_sort_temp/{{ chunk_suffix }}" \
      -u \
      -m 3G \
      --threads 19 \
      --output-fmt BAM \
      -o "{{ temp_dir }}/{{ rgid }}/{{ chunk_suffix }}.{{ aligner }}.bam" \
      -

{% endfor %}
{% endfor %}

- name: chunked_samtools_merge_rg_bams_{{ sample.name }}_{{ aligner }}
  tags: [{{ sample.gltype }}, alignment, dna_alignment, bwa, {{ sample.name }}]
  reset: predecessors
  input: 
  {% for rgid, rg in sample.read_groups.items() %}
    {% set r1fastq = rg.data_files|selectattr('fastqCode', 'eq', 'R1')|first %}
    {% set n_chunks = (r1fastq.numberOfReads / 2 / reads_per_chunk)|round(0, method='ceil')|int %}
    {% for i in range(n_chunks) %}
    {% set chunk_suffix = '%02d' % i %}
    - {{ temp_dir }}/{{ rgid }}/{{ chunk_suffix }}.{{ aligner }}.bam
    {% endfor %}
  {% endfor %}
  output: {{ temp_dir }}/{{ sample.name }}.{{ aligner }}.bam
  walltime: "24:00:00"
  cpus: 16
  mem: 8G
  container: {{ constants.tools.bwa_mem2_samtools.container }}
  cmd: |
    set -eu
    set -o pipefail

    {# No long options available for the following:
      -c           Combine @RG headers with colliding IDs [alter IDs to be distinct]
      -f           Overwrite the output BAM if exist
      -l INT       Compression level, from 0 to 9 [-1]
    #}
    samtools merge \
      --threads 16 \
      -c \
      -f \
      -u \
      "{{ temp_dir }}/{{ sample.name }}.{{ aligner }}.bam" \
      {% for rgid, rg in sample.read_groups.items() %}
      {% set r1fastq = rg.data_files|selectattr('fastqCode', 'eq', 'R1')|first %}
      {% set n_chunks = (r1fastq.numberOfReads / 2 / reads_per_chunk)|round(0, method='ceil')|int %}
      {% for i in range(n_chunks) %}
      {% set chunk_suffix = '%02d' % i %}
      {% if not loop.last %}
      {{ temp_dir }}/{{ rgid }}/{{ chunk_suffix }}.{{ aligner }}.bam \
      {% else %}
      {{ temp_dir }}/{{ rgid }}/{{ chunk_suffix }}.{{ aligner }}.bam
      {% endif %}
      {% endfor %}
      {% endfor %}



- name: samtools_markdup_{{ sample.name }}_{{ aligner }}
  tags: [{{ sample.gltype }}, alignment, mark_duplicates, samtools, {{ sample.name }}]
  reset: predecessors
  methods: Duplicate reads for {{ sample.name }} were marked with samtools markdup.
  input: {{ temp_dir }}/{{ sample.name }}.{{ aligner }}.bam
  output:
    - {{ temp_dir }}/{{ sample.name }}.{{ aligner }}.md.bam
    - {{ results_dir }}/stats/{{ sample.name }}.{{ aligner }}.bam.samtools.markdup.txt
  walltime: "96:00:00"
  cpus: 20
  mem: 20G
  container: {{ constants.tools.bwa_mem2_samtools.container }}
  cmd: |
    set -eu
    set -o pipefail

    {#
    # If this task was interrupted previously, temp files may exist
    # that will cause errors with samtools markdup. Here, we purge any
    # existing temp files before making the directory again.
    #}
    rm -r "{{ temp_dir }}/markdup_temp/" || true
    mkdir -p "{{ temp_dir }}/markdup_temp/"
    mkdir -p "{{ results_dir }}/stats/"

    {#
    # Choose an optical distance based on sequencer
    #}

    {# No long options available for the following:
     -d      Optical distance
     -S      Mark supplemenary alignments of duplicates as duplicates (slower)
     -f      Write stats to named file. Implies -s (report stats)
     -T      PREFIX    Write temporary files to PREFIX.samtools.nnnn.nnnn.tmp
     2>      Stats are output to stderr which is redirected to ".{{ aligner }}.bam.markdup.txt"
    #}
    samtools markdup \
      {% if nomultidup %}
      --no-multi-dup \
      {% endif %}
      -d {{ opt_dup_distance }} \
      {% if not nosupdup %}
      -S \
      {% endif %}
      -f "{{ results_dir }}/stats/{{ sample.name }}.{{ aligner }}.bam.samtools.markdup.txt" \
      --threads 20 \
      --write-index \
      -u \
      -T "{{ temp_dir }}/markdup_temp/{{ sample.name }}" \
      "{{ temp_dir }}/{{ sample.name }}.{{ aligner }}.bam" \
      "{{ temp_dir }}/{{ sample.name }}.{{ aligner }}.md.bam"


{% if sample.gltype == 'genome' %}
  {# shorten to tasks.Genome_alignment_base_recalibration_gatk|default(false) #}
  {% if tasks.Genome_alignment_base_recalibration_gatk is defined and tasks.Genome_alignment_base_recalibration_gatk %}
    {{- baserecalibration(sample, aligner) }}
  {% else %}
    {{- nobaserecalibration(sample, aligner) }}
  {% endif %}
{% elif sample.gltype == 'exome' %}
  {% if tasks.Exome_alignment_base_recalibration_gatk is defined and tasks.Exome_alignment_base_recalibration_gatk %}
    {{- baserecalibration(sample, aligner) }}
  {% else %}
    {{- nobaserecalibration(sample, aligner) }}
  {% endif %}
{% endif %}
{#
{{- bam_to_cram(sample, aligner) }}

{{- bam_qc(sample, aligner) }}
#}
{% endmacro %}
