{% from 'utilities/read_group_line.jst' import read_group_line with context %}
{% from 'utilities/remove_files.jst' import remove_files with context %}
{% from 'modules/dna_alignment/gatk_baserecalibration.jst' import baserecalibration, nobaserecalibration with context %}
{% from 'utilities/bam_to_cram.jst' import bam_to_cram with context %}

{% macro fgbio_bwa_mem(sample, aligner) %}

{% set temp_dir %}temp/{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}{% endset %}
{% set results_dir %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}{% endset %}
{% set umi_options = constants.tempe.umi_options[sample.assayCode] | default(constants.tempe.umi_options.unknown) %}

{% for rgid, rg in sample.read_groups.items() %}
{% set r1fastq = rg.data_files|selectattr('fastqCode', 'eq', 'R1')|first %}
{% set r2fastq = rg.data_files|selectattr('fastqCode', 'eq', 'R2')|first %}

- name: create_uBAM_{{ r1fastq.basename | replace(".", "_") }}
  tags: [{{ sample.gltype }}, alignment, dna_alignment, {{ aligner }}, umi, {{ sample.name }}]
  reset: predecessors
  input:
    {% for fastq in [r1fastq, r2fastq] %}
    - temp/fastqs/{{ fastq.basename }}
    {% endfor %}
    - {{ umi_options.umi_files }}
  output: 
    - {{ temp_dir }}/{{ rgid }}/{{ sample.rgid }}_UMI_uBAM.bam
    - {{ results_dir }}/stats/{{ sample.rgsm }}_UMIcorr_{{ aligner }}.txt
  cpus: 4
  mem: 32G
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.fgbio.container }}
  digest: {{ constants.tools.fgbio.digest }}
  cmd: |
    set -eu
    set -o pipefail

    rm -r {{ temp_dir }}/{{ rgid }} || true
    mkdir -p {{ temp_dir }}/{{ rgid }}
    mkdir -p {{ results_dir }}/stats

    {# Extract UMI from reads and create uBAM (Step 1 - One step with fgbio)
    ## Need read structure to be dynamic by UMI kit and reads performed #}
    fgbio --tmp-dir {{ temp_dir }}/{{ rgid }}/fgbio_tmp \
      --compression 0 \
      FastqToBam \
        --input {% for fastq in [r1fastq, r2fastq] %}temp/fastqs/{{ fastq.basename }} {% endfor %} \
        --read-structure {{ umi_options.read_structure }} \
        --umi-tag {{ umi_options.umi_tag }} \
        --sample {{ sample.rgsm }} \
        --library {{ sample.rglb }} \
        --read-group-id {{ sample.rgid }} \
        --platform {{ sample.rgpl }} \
        --platform-unit {{ sample.rgpu }} \
        --platform-model {{ sample.rgpm }} \
        --sequencing-center {{ sample.rgcn }} \
        --output /dev/stdout | \
      fgbio --tmp-dir {{ temp_dir }}/{{ rgid }}/fgbio_tmp \
        --compression 1 --async-io \
        CorrectUmis \
        --input /dev/stdin \
        --output {{ temp_dir }}/{{ rgid }}/{{ sample.rgid }}_UMI_uBAM.bam \
        --max-mismatches {{ umi_options.max_mismatches }} \
        --min-distance {{ umi_options.min_distance }} \
        --umi-tag {{ umi_options.umi_tag }} \
        --umi-files {{ umi_options.umi_files }} \
        --dont-store-original-umis \
        --metrics {{ results_dir }}/stats/{{ sample.rgsm }}_UMIcorr_{{ aligner }}.txt

{% endfor %}

{## Need a process to merge uBAM together if there are multiple FASTQ
## If uBAM are merged then we should have a chunk process to produce 50M chunks (uBAM interleaved so 100M) for alignment
#}
- name: merge_uBAM_{{ sample.name }}
  tags: [{{ sample.gltype }}, alignment, dna_alignment, {{ aligner }}, umi, {{ sample.name }}]
  reset: predecessors
  input:
    {% for rgid in sample.read_groups %}
    - {{ temp_dir }}/{{ rgid }}/{{ sample.rgid }}_UMI_uBAM.bam 
    {% endfor %}
  output:
    - {{ temp_dir }}/{{ sample.rgsm }}_UMI_uBAM.bam
  cpus: 8
  mem: 16G
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.samtools.container }}
  digest: {{ constants.tools.samtools.digest }}
  cmd: |
    set -eu

    samtools merge \
      --threads 8 \
      -c \
      -f \
      -l 6 \
      {{ temp_dir }}/{{ sample.rgsm }}_UMI_uBAM.bam \
    {% for rgid in sample.read_groups %}
      {% if not loop.last %}
      {{ temp_dir }}/{{ rgid }}/{{ sample.rgid }}_UMI_uBAM.bam \
      {% else %}
      {{ temp_dir }}/{{ rgid }}/{{ sample.rgid }}_UMI_uBAM.bam
      {% endif %}
    {% endfor %}

{# Align reads
## output is queryname file as it seems like this is needed for best optical duplicate determination by picard markdup
## because fgbio ultimately sorts by UMI then location 5' and 3' not clear sorted output helps
### All this should be tested in profiling optimization
## For speed should move to bwa-mem2 #}

- name: bwa_mem_merge_umi_alignment_{{ sample.name }}
  tags: [{{ sample.gltype }}, alignment, dna_alignment, {{ aligner }}, umi, {{ sample.name }}]
  reset: predecessors
  input:
    - {{ temp_dir }}/{{ sample.rgsm }}_UMI_uBAM.bam
    - {{ constants.tempe.bwa_mem2_index }} 
    - {{ constants.tempe.reference_fasta }}
  output:
    - {{ temp_dir }}/{{ sample.rgsm }}_UMI_{{ aligner }}.bam
  cpus: 10
  mem: 60G
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.fgbio.container }}
  digest: {{ constants.tools.fgbio.digest }}
  cmd: |
    set -eu
    set -o pipefail

    samtools fastq \
      {{ temp_dir }}/{{ sample.rgsm }}_UMI_uBAM.bam |\
    bwa-mem2 mem \
      -v 3 \
      -Y \
      -K 100000000 \
      -p \
      -t 10 \
      {{ constants.tempe.bwa_mem2_index }} \
      /dev/stdin |\
    fgbio --compression 1 --async-io ZipperBams \
      --unmapped {{ temp_dir }}/{{ sample.rgsm }}_UMI_uBAM.bam \
      --ref {{ constants.tempe.reference_fasta }} \
      --output {{ temp_dir }}/{{ sample.rgsm }}_UMI_{{ aligner }}.bam


{# Testing showed the expected increase in coverage using UMI aware duplicate marking by 7-20%
# But that does not use the structured UMI, which is the only thing we should support
# Doing correction using the structured UMI causes a slight reduction in coverage and produces a lossy BAM
# As reads that are dropped as they can not be corrected are dropped from the BAM
#### Maybe there are setting to prevent, needs investigation
# Doing read collapsing on the single reads in testing allowed read correction on ~50% of reads
### This is capture kit and depth dependent but was 800-2000x
# This is very lossy so final reads are mix of collapsed and singletons
### There are lots of options for collapsing needs and still could use a duplex workflow

### Based on testing and getting most value from the approach I suggest using UMI correction with
# single read family collapsing to maximize coverage and read accuracy

- name: fgbio_consensus_reads_{{ sample.name }}
  tags: [{{ sample.gltype }}, alignment, dna_alignment, {{ aligner }}, umi, {{ sample.name }}]
  reset: predecessors
  input:
    - {{ temp_dir }}/{{ sample.rgsm }}_UMI_{{ aligner }}.bam
  output:
    - {{ temp_dir }}/{{ sample.rgsm }}_con_uBAM.bam
    - {{ results_dir }}/stats/{{ sample.rgsm }}_UMIcorr_{{ aligner }}_gd_hist.txt
  cpus: 4
  mem: 32G
  walltime: "24:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.fgbio.container }}
  digest: {{ constants.tools.fgbio.digest }}
  cmd: |
    set -eu
    set -o pipefail

    {# Group Reads by UMI (This does not need to be sort, it sorts by UMI, then 5' end, then those with matching 3' are tagged) #}
    fgbio --tmp-dir {{ temp_dir }}/fgbio_tmp \
      --compression 1 --async-io \
      GroupReadsByUmi \
      --input {{ temp_dir }}/{{ sample.rgsm }}_UMI_{{ aligner }}.bam \
      --strategy paired \
      --allow-inter-contig true \
      --family-size-histogram {{ results_dir }}/stats/{{ sample.rgsm }}_UMIcorr_{{ aligner }}_gd_hist.txt \
      --raw-tag RX \
      --assign-tag MI \
      --edits 1 \
      --min-map-q 20 \
      --output {{ temp_dir }}/{{ sample.rgsm }}_UMI_{{ aligner }}_gd.bam

    {% if tasks[sample.gltype|capitalize+"_alignment_umi_collapse_simplex"]|default(true) %}
    {# Collapse single read families - Simplex #}
    fgbio --tmp-dir {{ temp_dir }}/fgbio_tmp --compression 1 \
      CallMolecularConsensusReads \
      --input {{ temp_dir }}/{{ sample.rgsm }}_UMI_{{ aligner }}_gd.bam \
      --threads 4 \
      --min-reads 1 \
      --tag MI \
      --error-rate-pre-umi 45 \
      --error-rate-post-umi 40 \
      --min-input-base-quality 10 \
      --output {{ temp_dir }}/{{ sample.rgsm }}_con_uBAM.bam
    {% elif tasks[sample.gltype|capitalize+"_alignment_umi_collapse_duplex"]|default(false) %}
    {# Collapse combined read families - Duplex #}
    fgbio --tmp-dir {{ temp_dir }}/fgbio_tmp --compression 1 \
      CallDuplexConsensusReads \
      --threads 4 \
      --tag MI \
      --input {{ temp_dir }}/{{ sample.rgsm }}_UMI_{{ aligner }}_gd.bam  \
      --output {{ temp_dir }}/{{ sample.rgsm }}_con_uBAM.bam \
      --error-rate-pre-umi 45 \
      --error-rate-post-umi 10 \
      --min-input-base-quality 10
    {% endif %}

- name: bwa_mem_umi_collapsed_{{ sample.name }}
  tags: [{{ sample.gltype }}, alignment, dna_alignment, {{ aligner }}, umi, {{ sample.name }}]
  reset: predecessors
  input:
    - {{ temp_dir }}/{{ sample.rgsm }}_con_uBAM.bam
    - {{ constants.tempe.bwa_mem2_index }} 
    - {{ constants.tempe.reference_fasta }}
  output:
    - {{ temp_dir }}/{{ sample.name }}.{{ aligner }}.md.bam
  cpus: 10
  mem: 60G
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.fgbio.container }}
  digest: {{ constants.tools.fgbio.digest }}
  cmd: |
    set -eu
    set -o pipefail

    {# Align UMI collapsed single read families
    ## This produces a final BAM that is ready for metrics and variant calling
    ## DUPLICATE MARKING IS NOT REQUIRED, as they are removed in previous steps
    ## For QC might want duplicate numbers on the original BAM ({{ sample.rgsm }}_UMI_{{ aligner }}.bam)
    ## For speed should move to bwa-mem2 #}
    samtools fastq {{ temp_dir }}/{{ sample.rgsm }}_con_uBAM.bam |\
    bwa-mem2 mem \
      -v 3 \
      -Y \
      -K 100000000 \
      -p \
      -t 10 \
      {{ constants.tempe.bwa_mem2_index }} \
      /dev/stdin |\
    fgbio --compression 1 --async-io ZipperBams \
      --unmapped  {{ temp_dir }}/{{ sample.rgsm }}_con_uBAM.bam \
      --ref {{ constants.tempe.reference_fasta }} \
      --tags-to-reverse Consensus \
      --tags-to-revcomp Consensus \
      --output {{ temp_dir }}/{{ sample.name }}.{{ aligner }}.uns.bam

    {% if tasks[sample.gltype|capitalize+"_alignment_umi_filter_consensus"]|default(false)  %}
    fgbio -Xmx8g --compression 0 \
      FilterConsensusReads \
      --input {{ temp_dir }}/{{ sample.name }}.{{ aligner }}.uns.bam \
      --output /dev/stdout \ 
      --ref {{ constants.tempe.reference_fasta }} \
      {% if tasks[sample.gltype|capitalize+"_alignment_umi_collapse_simplex"]|default(true) %}
      --min-reads 1 \
      --min-base-quality 40 \
      --max-no-call-fraction 0.1 \
      {% elif tasks[sample.gltype|capitalize+"_alignment_umi_collapse_duplex"]|default(false) %}
      --min-reads 2 1 1 \
      --min-base-quality 50 \
      --max-no-call-fraction 0.05 \
      --require-single-strand-agreement true \
      {% endif %}
      --max-base-error-rate 0.1 | \
      samtools sort \
      --threads 10 \
      -o {{ temp_dir }}/{{ sample.name }}.{{ aligner }}.md.bam \
      --write-index
    {% else %}
    samtools sort \
      --threads 10 \
      -o {{ temp_dir }}/{{ sample.name }}.{{ aligner }}.md.bam \
      --write-index \
      {{ temp_dir }}/{{ sample.name }}.{{ aligner }}.uns.bam
    {% endif %}

{% if tasks[sample.gltype|capitalize+"_alignment_base_recalibration_gatk"]|default(false) %}
  {{- baserecalibration(sample, aligner) }}
{% else %}
  {{- nobaserecalibration(sample, aligner) }}
{% endif %}
{{- bam_to_cram(sample, aligner) }}

{% endmacro %}
