{% from 'modules/annotation/bcftools_annotate.jst' import bcftools_annotate with context %}
{% from 'modules/annotation/vep.jst' import vep with context %}
{% from 'utilities/variant_filtering.jst' import tumor_only_variant_filter with context %}

{% macro annotate_vcfs(sample_or_pair, temp_dir, results_dir, input_vcf, taskPrefix, aligner, variant_caller, analysis_type) %}

{% if input_vcf.endswith('.vcf') %}
  {% set vcf_prefix = input_vcf.split('.')[:-1] %}
{% elif input_vcf.endswith('.vcf.gz') %}
  {% set vcf_prefix = input_vcf.split('.')[:-2] %}
{% else %}
  {{ raise('{} does not appear to be a vcf!'.format(input_vcf)) }}
{% endif %}

{% set annotate_task_prefix = taskPrefix+'_'+analysis_type+'_annotate_vcfs_bcftools_' %}

{% set flags = namespace({ 'bcftools': none, 'vep': none }) %}

{% if tasks %}
  {% for annotate_task in tasks %}
    {% if annotate_task_prefix in annotate_task and tasks[annotate_task] %}
      {% set flags.bcftools = true %}
    {% elif annotate_task_prefix in annotate_task and tasks[annotate_task] is sameas false %}
      {% if flags.bcftools is not sameas true %}
        {% set flags.bcftools = false %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if flags.bcftools is none %}
    {% set flags.bcftools = true %}
  {% endif %}

  {% if tasks[taskPrefix+"_"+analysis_type+"_annotate_vcfs_vep"]|default(false) %}
    {% set flags.vep = true %}
  {% endif %}
{% else %}
  {% set flags.bcftools = true %}
  {% set flags.vep = true %}
{% endif %}

{% if flags.bcftools %}

  {% set bcftools_output %}{{ vcf_prefix }}.db.vcf.gz{% endset %}
  {{- bcftools_annotate(sample_or_pair, temp_dir, input_vcf, taskPrefix, variant_caller, analysis_type, bcftools_output, aligner) }}

  {% set vep_output %}{{ vcf_prefix }}.db.vep.pick.vcf.gz{% endset %}
  {% if flags.vep %}
    {{- vep(sample_or_pair, results_dir, bcftools_output, variant_caller, vcf_prefix+'.db', aligner, analysis_type) }}
  {% endif %}

  {# tumor_only variant filtering only works if we annotated with bcftools #}
  {% if 'tumor_only' in analysis_type %}
    {% if flags.vep %}
      {{- tumor_only_variant_filter(sample_or_pair, vep_output, temp_dir, variant_caller, 'vep') }}
    {% else %}
      {{- tumor_only_variant_filter(sample_or_pair, bcftools_output, temp_dir, variant_caller, 'bcftools') }}
    {% endif %}
  {% endif %}

{% else %}

  {% if flags.vep %}
    {{- vep(sample_or_pair, results_dir, input_vcf, variant_caller, vcf_prefix, aligner, analysis_type) }}
  {% endif %}

{% endif %}

{% endmacro %}